:root {
  --white: white;
  --black: black;
  --conversion-flow-library--sandy-brown: #ffa84b;
  --conversion-flow-library--light-coral: #ff5e69;
  --conversion-flow-library--medium-purple: #b16cea;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  background-color: #1f1f1f;
  font-family: Instrument Sans, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.nav-button {
  grid-column-gap: 10px;
  background-color: #333;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 16px 18px;
  line-height: 100%;
  text-decoration: none;
  display: flex;
}

.hero-section {
  grid-row-gap: 10px;
  background-image: url('../images/Firefly-3d-render-silk-dark-blue-10452-2.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-decoration: none;
  display: flex;
}

.hero-section-container {
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 52rem;
  text-decoration: none;
  display: flex;
}

.h1 {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 80px;
  font-weight: 400;
  line-height: 110%;
  text-decoration: none;
}

.paragraph-default {
  opacity: .8;
  color: #e6e6e6;
  text-align: center;
  letter-spacing: .04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 160%;
  text-decoration: none;
}

.button-wrapper {
  grid-column-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.hero-button {
  grid-column-gap: 10px;
  color: #000;
  text-align: center;
  background-color: #fff;
  border: 1px solid #fff;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  font-weight: 500;
  line-height: 125%;
  text-decoration: none;
  display: flex;
}

.hero-button-2 {
  grid-column-gap: 10px;
  background-color: #0000;
  border: 1px solid #666;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  font-weight: 500;
  line-height: 125%;
  text-decoration: none;
  display: flex;
}

.navbar-shadow {
  filter: blur(10px);
  background-color: #67666d0f;
  border-radius: 100px;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 0%;
  box-shadow: 0 4px 100px #0000001a;
}

.menu-button-wrapper {
  display: none;
}

.nav-links {
  opacity: .8;
  color: #fff;
  padding: 12px;
  font-size: 14px;
  line-height: 100%;
  transition: color .2s;
}

.nav-links:hover {
  opacity: 1;
  font-weight: 500;
}

.nav-links-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.nav-menu {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navigation-logo {
  object-fit: contain;
}

.nav-logo {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  display: flex;
}

.nav-logo.w--current {
  width: 80px;
  height: 35px;
  padding-left: 0;
}

.nav-wrapper {
  z-index: 1;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: #00000080;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 2%;
  display: flex;
  position: relative;
}

.nav-shadow-wrapper {
  width: 83.33vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.navbar-main-div {
  z-index: 10;
  padding-top: 0;
  position: relative;
}

.navbar-main {
  background-color: #0000;
  width: auto;
  padding-top: 16px;
  padding-bottom: 0;
  position: fixed;
  inset: 0% 0% auto;
}

.text-block {
  color: #fff;
  font-size: 22px;
  line-height: 125%;
}

.logo-section {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
  position: relative;
  overflow: hidden;
}

.marquee {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  opacity: .9;
  align-items: center;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 56px 0;
  display: flex;
  overflow: hidden;
}

.logo-img.mr-4-5rem {
  margin-right: 0;
}

.logo-section-gradient {
  z-index: 1;
  background-image: linear-gradient(90deg, #1f1f1f, #1f1f1f00 50%, #1f1f1f);
  width: 100vw;
  height: 100%;
  position: absolute;
  inset: 0% auto auto 0%;
}

.about-section {
  grid-row-gap: 79px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-decoration: none;
  display: flex;
  position: relative;
}

.about-head {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 41.5rem;
  text-decoration: none;
  display: flex;
}

.h2 {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 64px;
  font-weight: 400;
  line-height: 110%;
  text-decoration: none;
}

.text-5 {
  color: #e6e6e6;
  text-align: center;
  letter-spacing: .04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 160%;
  text-decoration: none;
}

.rectangle-136 {
  object-fit: cover;
  width: 83.33vw;
}

.vectors-wrapper-2 {
  filter: blur(300px);
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.gradient {
  z-index: -1;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  text-decoration: none;
  display: flex;
  position: absolute;
  inset: auto auto 0%;
}

.frame-6 {
  grid-row-gap: 24px;
  border: 1px solid #666;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 387px;
  padding: 36px 24px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-3 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  text-decoration: none;
  display: flex;
}

.text-8 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 125%;
  text-decoration: none;
}

.error-c711da45-d5e0-3584-062a-8fe68b04ed94 {
  color: #d2d2d2;
  max-width: 275px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
}

.why-us-section {
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.frame-60 {
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 83.33vw;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  display: flex;
}

.frame-62 {
  grid-column-gap: 141px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.text-9 {
  color: #fff;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 64px;
  font-weight: 400;
  line-height: 110%;
  text-decoration: none;
}

.text-10 {
  opacity: .8;
  color: #e6e6e6;
  letter-spacing: .04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 160%;
  text-decoration: none;
}

.frame-63 {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  text-decoration: none;
  display: flex;
}

.frame-64 {
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.masonary-grid-section {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.section-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.rectangle-137 {
  object-fit: cover;
  border: 1px solid #333;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.grid-left {
  grid-row-gap: 10px;
  background-image: url('../images/Frame-11.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #333;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 40px 24px;
  text-decoration: none;
  display: flex;
}

.frame-61 {
  grid-row-gap: 62px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  text-decoration: none;
  display: flex;
}

.whether-you-re-planning-for-the-future-finbase-provides-the-resources-and-support-you-need-to-achieve-your-financial-goals-efficiently-0 {
  color: #c0bfbf;
  letter-spacing: .04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
}

.whether-you-re-planning-for-the-future-finbase-provides-the-resources-and-support-you-need-to-achieve-your-financial-goals-efficiently-1 {
  color: #fff;
  letter-spacing: .04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
}

.grid-right {
  background-color: #212121;
  border: 1px solid #333;
  border-radius: 1px;
  height: 100%;
  padding: 156px 40px 36px;
  position: relative;
  overflow: hidden;
}

.h4-grid-head {
  color: #fff;
  font-size: 28px;
  line-height: 150%;
}

.right-grid-para {
  color: #d2d2d2;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.grid-right-text-wrapper {
  z-index: 1;
  grid-row-gap: 18px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  position: relative;
}

.image {
  z-index: 0;
  max-width: 562px;
  display: block;
  position: absolute;
  inset: -250px 0% auto;
}

.grid-layout {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-width: 83.33vw;
  margin-left: auto;
  margin-right: auto;
}

.marquee-content-2 {
  grid-column-gap: 1rem;
  flex: none;
  justify-content: space-around;
  min-width: 100%;
  display: flex;
}

.marquee-2 {
  grid-column-gap: 1rem;
  width: 100%;
  margin-bottom: 10rem;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  overflow: hidden;
}

.text-block-2 {
  color: #666;
  text-transform: uppercase;
  font-family: Instrument Sans, sans-serif;
  font-size: 9vw;
  font-weight: 600;
  line-height: 1;
}

.container {
  width: 100%;
  overflow: hidden;
}

.inner-container {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.h1-2 {
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0 6vw 0 0;
  font-size: 12vw;
  line-height: 1;
  display: inline-block;
}

.infinite-marquee-dash {
  background-color: #333;
  flex: none;
  width: 10vw;
  height: 1.5vw;
  margin-right: 6vw;
}

.cta-section {
  grid-row-gap: 79px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-decoration: none;
  display: flex;
  position: relative;
}

.cta-head {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 41.5rem;
  text-decoration: none;
  display: flex;
}

.cta-container {
  background-image: url('../images/cta-bg.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 83.33vw;
  height: 33.375rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.cta-head-wrapper {
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 46rem;
  margin: auto;
  text-decoration: none;
  display: flex;
}

.text {
  color: #fff;
  text-align: center;
  text-transform: undefined;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 72px;
  font-weight: 400;
  line-height: 110%;
  text-decoration: none;
}

.text-11 {
  color: #e6e6e6;
  text-align: center;
  letter-spacing: .04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
}

.button-wrapper-2 {
  grid-column-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.hero-button-3 {
  grid-column-gap: 10px;
  background-color: #fff;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  text-decoration: none;
  display: flex;
}

.text-12 {
  color: #000;
  text-align: center;
  letter-spacing: .04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 125%;
  text-decoration: none;
}

.footer {
  grid-row-gap: 10px;
  background-image: url('../images/photo-1669295384050-a1d4357bd1d7-1.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: block;
}

.photo-1669295384050-a1d4357bd1d7-1 {
  object-fit: cover;
  background-color: #0003;
}

.frame-26 {
  grid-row-gap: 84px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 83.33vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
  text-decoration: none;
  display: flex;
}

.frame-23 {
  flex: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-18 {
  grid-row-gap: 35px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.frame-15 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-4 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: flex;
}

.text-13 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-17 {
  grid-row-gap: 19px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.text-14 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.newletter {
  background-color: #ffffff1a;
  border: 1px solid #666;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  width: 22rem;
  height: 3.6rem;
  padding: 4px 4px 4px 20px;
  text-decoration: none;
  display: flex;
}

.text-15 {
  opacity: .8;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.subscribe-btn {
  grid-column-gap: 10px;
  background-color: #333;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 14px 18px;
  text-decoration: none;
  display: flex;
  position: absolute;
  inset: 4px 4px auto auto;
}

.text-16 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-22 {
  grid-column-gap: 158px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.frame-20 {
  grid-row-gap: 36px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.text-17 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.frame-19 {
  grid-row-gap: 27px;
  opacity: .8;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.footer-link {
  opacity: .8;
  color: #fff;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  transition: all .2s;
}

.footer-link:hover {
  opacity: 1;
  font-weight: 500;
}

.frame-25 {
  grid-row-gap: 34px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-5 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 1px;
  text-decoration: none;
  display: flex;
}

.frame-24 {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  text-decoration: none;
  display: flex;
}

.text-19 {
  opacity: .8;
  color: #fff;
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.form {
  width: 100%;
  position: relative;
}

.form-block {
  width: 100%;
}

.open {
  background-color: #333;
  border: 1px #f0f0f0;
  border-radius: 0;
  flex-direction: column;
  align-items: center;
  padding: .75rem 2rem;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.button-text-03 {
  z-index: 1;
  color: #f0f0f0;
  letter-spacing: .5px;
  text-transform: capitalize;
  justify-content: flex-start;
  font-size: .875rem;
  font-weight: 500;
  display: flex;
  position: relative;
}

.button-text-03.is-text-absolute {
  position: absolute;
  transform: translate(0, 200%);
}

.hero-primary-btn {
  background-color: #fff;
  border: 1px #f0f0f0;
  border-radius: 0;
  flex-direction: column;
  align-items: center;
  padding: .75rem 2rem;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.button-text-03-hero-btn {
  z-index: 1;
  color: #333;
  letter-spacing: .5px;
  text-transform: capitalize;
  justify-content: flex-start;
  font-size: .875rem;
  font-weight: 500;
  display: flex;
  position: relative;
}

.button-text-03-hero-btn.is-text-absolute {
  position: absolute;
  transform: translate(0, 200%);
}

.button-text-hero-btn {
  z-index: 1;
  color: #fff;
  letter-spacing: .5px;
  text-transform: capitalize;
  justify-content: flex-start;
  font-size: .875rem;
  font-weight: 500;
  display: flex;
  position: relative;
}

.button-text-hero-btn.is-text-absolute {
  position: absolute;
  transform: translate(0, 200%);
}

.hero-secondary-btn {
  background-color: #0000;
  border: 1px solid #666;
  border-radius: 0;
  flex-direction: column;
  align-items: center;
  padding: .75rem 2rem;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.subscribe-btn-newsletter {
  background-color: #333;
  border: 1px #f0f0f0;
  border-radius: 0;
  flex-direction: column;
  align-items: center;
  padding: .75rem 2rem;
  text-decoration: none;
  display: flex;
  position: absolute;
  inset: 6px 4px auto auto;
  overflow: hidden;
}

.hr {
  background-color: #ffffff4d;
  width: 83.33vw;
  height: 1px;
}

.div-block {
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  .hero-section {
    width: 100%;
  }

  .nav-links {
    color: #fff;
    padding: 12px;
    font-family: Instrument Sans, sans-serif;
    font-weight: 400;
    transition-property: all;
  }

  .nav-logo {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .nav-wrapper {
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: #00000080;
    border-radius: 0;
  }

  .nav-shadow-wrapper {
    width: 80vw;
  }

  .navbar-main {
    background-color: #0000;
    padding-top: 16px;
    padding-bottom: 0;
    position: fixed;
  }

  .text-block {
    font-size: 22px;
    line-height: 125%;
  }

  .marquee {
    z-index: 0;
  }

  .logo-section-gradient {
    background-image: linear-gradient(90deg, #1f1f1f, #1f1f1f00 50%, #1f1f1f);
  }

  .text-5 {
    opacity: .8;
  }

  .gradient {
    left: auto;
    right: auto;
  }

  .frame-6 {
    grid-row-gap: 32px;
    padding: 48px 30px;
  }

  .text-8 {
    font-size: 24px;
  }

  .error-c711da45-d5e0-3584-062a-8fe68b04ed94 {
    max-width: 323px;
    font-size: 16px;
  }

  .cta-section {
    margin-left: auto;
    margin-right: auto;
  }

  .cta-container {
    background-image: url('../images/cta-bg.png');
    background-position: 50%;
    background-size: cover;
    width: 83.33vw;
    height: 33.375rem;
  }

  .newletter {
    color: #fff;
    width: 372px;
    min-width: 100%;
    height: 56px;
  }

  .newletter::placeholder {
    color: #fffc;
  }

  .subscribe-btn {
    position: absolute;
    inset: 4px 4px auto auto;
  }

  .frame-25 {
    width: 83.33vw;
  }

  .frame-24 {
    justify-content: space-between;
    width: 83.33vw;
    max-width: none;
  }

  .form {
    display: flex;
    position: relative;
  }

  .open {
    background-color: #333;
    border-style: none;
    border-radius: 0;
  }

  .button-text-03, .button-text-03.is-text-absolute {
    text-transform: capitalize;
  }

  .hero-primary-btn {
    background-color: #fff;
    border-style: none;
    border-radius: 0;
  }

  .button-text-03-hero-btn, .button-text-03-hero-btn.is-text-absolute, .button-text-hero-btn, .button-text-hero-btn.is-text-absolute {
    text-transform: capitalize;
  }

  .subscribe-btn-newsletter {
    background-color: #333;
    border-style: none;
    border-radius: 0;
  }

  .hr {
    background-color: #ffffff4d;
    width: 83.33vw;
    height: 1px;
    padding-bottom: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 991px) {
  .hero-section-container {
    width: 90vw;
  }

  .h1 {
    font-size: 64px;
  }

  .paragraph-default {
    font-size: 16px;
    font-weight: 400;
  }

  .nav-5-menu-button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
  }

  .nav-5-menu-button.w--open {
    color: #000;
    background-color: #0000;
  }

  .menu-button-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .nav-button-wrapper {
    margin-left: auto;
    margin-right: 0;
  }

  .nav-links {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
  }

  .nav-links-wrapper {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-menu {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: #00000080;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 28px;
  }

  .nav-logo.w--current {
    height: 30px;
  }

  .nav-shadow-wrapper {
    width: 90vw;
  }

  .navbar-main {
    overflow: visible;
  }

  .icon {
    color: #fff;
    font-size: 36px;
    line-height: 100%;
  }

  .about-head {
    width: 90vw;
  }

  .rectangle-136 {
    width: 90vw;
    height: 25rem;
  }

  .frame-60 {
    width: 90vw;
  }

  .frame-62 {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
  }

  .frame-63 {
    align-items: stretch;
  }

  .section-container {
    width: 100%;
  }

  .rectangle-137 {
    height: 17rem;
  }

  .grid-left {
    padding: 24px 16px;
  }

  .frame-61 {
    grid-row-gap: 32px;
  }

  .whether-you-re-planning-for-the-future-finbase-provides-the-resources-and-support-you-need-to-achieve-your-financial-goals-efficiently-0, .whether-you-re-planning-for-the-future-finbase-provides-the-resources-and-support-you-need-to-achieve-your-financial-goals-efficiently-1 {
    font-size: 20px;
  }

  .grid-right {
    padding: 100px 16px 24px;
  }

  .h4-grid-head {
    font-size: 20px;
  }

  .right-grid-para {
    font-size: 15px;
  }

  .image {
    max-width: 390px;
    top: -181px;
  }

  .grid-layout {
    max-width: 90vw;
  }

  .cta-container {
    width: 90vw;
    height: 29rem;
  }

  .cta-head-wrapper {
    width: 39rem;
  }

  .text {
    font-size: 64px;
  }

  .text-11 {
    font-size: 16px;
  }

  .frame-26 {
    grid-row-gap: 80px;
    width: 90vw;
    padding-top: 6rem;
    position: static;
  }

  .frame-23 {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    flex-flow: column;
  }

  .frame-24 {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .h1 {
    font-size: 48px;
  }

  .paragraph-default {
    font-size: 14px;
  }

  .nav-shadow-wrapper {
    width: 90%;
  }

  .h2, .text-9 {
    font-size: 48px;
  }

  .frame-63 {
    flex-flow: column;
  }

  .cta-head-wrapper {
    width: 29rem;
  }

  .text {
    font-size: 48px;
  }

  .frame-24 {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
  }
}

@media screen and (max-width: 479px) {
  .nav-button {
    display: none;
  }

  .hero-section {
    height: 80vh;
  }

  .h1 {
    font-size: 40px;
  }

  .button-wrapper {
    grid-row-gap: 16px;
    flex-flow: column;
  }

  .nav-5-menu-button {
    padding-left: 10px;
  }

  .nav-button-wrapper {
    display: none;
  }

  .nav-logo.w--current {
    width: 65px;
    height: 30px;
    padding-left: 0;
  }

  .nav-wrapper {
    padding-left: 14px;
    padding-right: 14px;
  }

  .h2, .text-9 {
    font-size: 40px;
  }

  .grid-layout {
    flex-flow: column;
    display: flex;
  }

  .cta-head-wrapper {
    width: 16rem;
  }

  .text {
    font-size: 40px;
  }

  .newletter {
    width: 18rem;
  }

  .frame-22 {
    grid-column-gap: 80px;
  }
}

#w-node-df7c1758-dbac-69fa-9581-2ee768c9f7fe-f84a8cb0 {
  grid-area: span 2 / span 5 / span 2 / span 5;
}

#w-node-c34f91d5-d7c7-5704-5df4-27128b40b565-f84a8cb0 {
  grid-area: span 2 / span 2 / span 2 / span 2;
}

#w-node-_77d21bea-36af-b54f-80f3-e67cff5e08e1-f84a8cb0 {
  grid-area: span 2 / span 3 / span 2 / span 3;
}


